<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuframework.admin.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shuframework.admin.model.SysLog">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="contents" property="contents" />
        <result column="client_ip" property="clientIp" />
        <result column="log_type" property="logType" />
        <result column="request_path" property="requestPath" />
        <result column="request_param" property="requestParam" />
        <result column="request_method" property="requestMethod" />
        <result column="flag" property="flag" />
        <result column="response_result" property="responseResult" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_name, contents, client_ip, log_type, request_path, request_param, request_method, flag, response_result, create_time, update_time
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Dynamic_Where_Query">
        <where>
            <if test="beginCreateTime != null ">
                and create_time <![CDATA[ >= ]]> #{beginCreateTime}
            </if>
            <if test="endCreateTime != null ">
                and create_time <![CDATA[ <= ]]> #{endCreateTime}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="loginName != null and loginName != '' ">
                and login_name = #{loginName}
            </if>
            <if test="contents != null and contents != '' ">
                and contents = #{contents}
            </if>
            <if test="clientIp != null and clientIp != '' ">
                and client_ip = #{clientIp}
            </if>
            <if test="logType != null and logType != '' ">
                and log_type = #{logType}
            </if>
            <if test="requestPath != null and requestPath != '' ">
                and request_path = #{requestPath}
            </if>
            <if test="requestParam != null and requestParam != '' ">
                and request_param = #{requestParam}
            </if>
            <if test="requestMethod != null and requestMethod != '' ">
                and request_method = #{requestMethod}
            </if>
            <if test="flag != null and flag != '' ">
                and flag = #{flag}
            </if>
            <if test="responseResult != null and responseResult != '' ">
                and response_result = #{responseResult}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </sql>

    <!-- 查询 -->
    <select id="selectPageList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_log
        <include refid="Dynamic_Where_Query" />
    </select>

</mapper>
